@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 600px;
  margin: 30px auto;
  padding: 10px;
}

.icon-button {
  background-color: transparent;
  border-color: transparent;
}

.icon-button :hover {
  color: #9a30fd;
}

.icon-button:active {
  color: #9a30fd;
  transform: scale(0.96);
}

.button {
  font-size: 18px;
  display: flex;
  position: absolute;
  left: 40%;
  margin-top: 20px;
  background: #9a30fd;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.popup {
  position: absolute;
  left: 40%;
  top: 50%;
}